@import './base/baseIndex';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$c01: #1D0D55;
$c02: #1B2267;
$c03: #183779;
$c04: #12619D;
$c05: #0C8BC1;
$c06: #06B5E5;
$c07: #45C8EC;
$c08: #83DAF2;
$c09: #C1EDF9;
$c10: #E0F6FC;

$c11: #FFF4D0;
$c12: #FFE8A1;
$c13: #FFD042;
$c14: #F4A13A;
$c15: #E87131;
$c16: #D45532;
$c17: #BF3932;
$c18: #AB1D32;
$c19: #A10F32;
$c20: #960032;

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    line-height: 1.4;
    color: #FFFFFF;
}

#container {
    height: 100vh;
    width: 100%;
    
    #background {
        width: 100%;
        height: 100vh;
        position: absolute;
        z-index: -100;
    }

    form {
        position: absolute;
        top: 20px;
        right: 20px;

        input {
            font-family: 'Montserrat', sans-serif;
            font-weight: 400;
            font-size: 15px;
            text-transform: uppercase;
            letter-spacing: 0.1em;
            line-height: 1.4;
            color: #FFFFFF;
            margin: 0;
            padding: 7px 15px;
            background-color: transparent;
            border: 1px solid #FFFFFF;
            border-radius: 30px;
        }

        button {
            font-family: 'Montserrat', sans-serif;
            font-weight: 400;
            font-size: 15px;
            text-transform: uppercase;
            letter-spacing: 0.1em;
            line-height: 1.4;
            color: #333333;
            margin: 0;
            padding: 7px 15px;
            background-color: #FFFFFF;
            border: 1px solid #FFFFFF;
            border-radius: 30px;
        }

    }

    #info {
        padding: 100px;
        max-width: 600px;
        margin: 0 auto;

        #temp {
            font-size: 80px;
            margin: 10px 0;
        }

        #loc {
            margin-top: 200px;
        }
    }

}

// Time Colors::
// https://coolors.co/30153d-0e1844-67afc9-94d6dc-fbdc76-f99729-bb4e2b-7c052d

// Temp Colors::
// https://coolors.co/1d0d55-1b2267-183779-12619d-0c8bc1-06b5e5-45c8ec-83daf2-c1edf9-e0f6fc

// Min Max Temperatures in Kelvin:
// 227K - 327K